<div class="profile-wrapper">
  <div class="profile-card">
    <div class="profile-left">
      <img src="assets/images/avatars/2.jpg" alt="Photo de profil">
    </div>
    <div class="profile-right">
      <h2>Mon Profil</h2>
      <p><strong>Nom :</strong> {{ userData.nom }}</p>
      <p><strong>Prénom :</strong> {{ userData.prenom }}</p>
      <p><strong>Email :</strong> {{ userData.email }}</p>
      <p><strong>Date de naissance :</strong> {{ userData.dateNaissance }}</p>
      <p><strong>CIN :</strong> {{ userData.cin }}</p>
      <p><strong>Statut marital :</strong> {{ userData.statutMarital }}</p>

     
    </div>
  </div>
</div>
