<div class="login-container">
  <div class="left-side">
    <img src="assets/images/logologin.png" alt="Illustration login">
  </div>

  <div class="right-side">
    <div class="login-form">
      <h2>Bienvenue</h2>
      <p>Plateforme Web Collaborative — Base de Connaissances Interne</p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Nom d’utilisateur</label>
          <input type="text" formControlName="username" placeholder="Entrez votre nom d’utilisateur">
        </div>

        <div class="form-group">
          <label>Mot de passe</label>
          <input type="password" formControlName="password" placeholder="Entrez votre mot de passe">
        </div>

        <div class="actions">
          <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
          <a href="#">Mot de passe oublié ?</a>
        </div>

        <div class="error" *ngIf="errorMsg">{{ errorMsg }}</div>
      </form>
    </div>
  </div>
</div>
